:root {
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
}

:root::-webkit-scrollbar {
  display: none;
}

.container {
  margin-top: 10vh;
}

.fade-enter-active {
  transition: opacity 1s ease-in-out;
}

.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
  height: 100vh;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}